{% extends 'baseadmin.html.twig' %}
{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li class="active">Icons</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin-left: 500px">Ajouter un Plan </h1>
        </div>
    </div><!--/.row-->


    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-body" style="
        width: 900px;
        margin-left: 250px;
        margin-right: 40px;
background-color:#6e6e6e ; ">
        <div class="col-lg-12" style="margin-left: 5px">
            <div class="panel panel-default">
                <div class="panel-body " style="margin-left: 100px">
                    <div class="col-md-6">
                        <form method="post">

                            <div class="form-group">
                                <label>Libelle</label>
                                <input class="form-control" name="libelle" placeholder="libelle">
                            </div>
                            <div class="form-group">
                                <label>Adressse</label>
                                <input class="form-control" name="Adresse" placeholder="Adresse">
                            </div>
                            <div class="form-group">
                                <label>description</label>
                                <input class="form-control" name="description" placeholder="des">
                            </div>
                            <div class="form-group">
                                <label>Ville</label>
                                <input class="form-control" name="ville" placeholder="prix">
                            </div>

                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" name="image" class="form-control">
                            </div>


                            <div class="form-group">
                                <label>avis</label>
                                <input class="form-control" name="avis" placeholder="longitude 10 ">
                            </div>
                            <div class="form-group">
                                <label>email</label>
                                <input class="form-control" name="email" placeholder="latitude 30 ">
                            </div>
                            <div class="form-group">
                                <label>prix</label>
                                <input class="form-control" name="prix" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>longitude</label>
                                <input class="form-control" name="longitude" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>latitude</label>
                                <input class="form-control" name="latitude" placeholder="Email">
                            </div>
                            <div>

                                <button type="submit" class="btn btn-success" style="width: 300px ;margin-left: 150px"> <div class="fa  fa-plus-square"></div> Ajouter</button>


                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}