{% extends 'baseuser.html.twig' %}
{% block body %}



    <!-- //////////////////////////////////
	//////////////PAGE CONTENT/////////////
	////////////////////////////////////-->

    <div class="gap"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- <aside class="sidebar-left">
                     <div class="box clearfix">
                         <table class="table">
                             <thead>
                                 <tr>
                                     <th>Product</th>
                                     <th>QTY</th>
                                     <th>Price</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>New Glass Collection</td>
                                     <td>1</td>
                                     <td>$150</td>
                                 </tr>
                                 <tr>
                                     <td>Canon Camera</td>
                                     <td>1</td>
                                     <td>$200</td>
                                 </tr>
                                 <tr>
                                     <td>Jack Daniels Huge Pack</td>
                                     <td>1</td>
                                     <td>$150</td>
                                 </tr>
                             </tbody>
                         </table>
                         <ul class="cart-total-list text-center mb0">
                             <li><span>Sub Total</span><span>$500.00</span>
                             </li>
                             <li><span>Shipping</span><span>$0.00</span>
                             </li>
                             <li><span>Taxes</span><span>$0.00</span>
                             </li>
                             <li><span>Total</span><span>$500.00</span>
                             </li>
                         </ul>
                     </div>
                 </aside>-->
            </div>
            <div class="col-md-8">
                <p class="mb20"><a href="#">Ajouter</a> un <a href="#">Evennement</a> Dans TunisianPlanners</p>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Informations sur l'Evennement</h3>
                        <form action="">
                            <!-- <legend>Personal Information</legend> -->
                            <div class="form-group">
                                <label for="">Titre de l'Evennemnt</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Adresse</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Ville</label>
                                <input type="text" class="form-control">
                            </div>
                            <legend>Horaire</legend>
                            <div class="form-group">
                                <label for="">Date de l'Evennement</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">heure</label>
                                <input type="text" class="form-control">
                            </div>

                            <label>Image</label>
                            <input placeholder="xxxx xxxx xxxx xxxx" type="text" class="form-control" /><span class="cc-card-icon"></span>
                    </div>


                </div>
                <div class="form-group form-group-cc-cvc">
                    <label> Prix </label>
                    <input placeholder="xxxx" type="text" class="form-control" />
                </div>
                <div class="clearfix">
                    <div class="form-group form-group-cc-name">
                        <label>Contact</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group form-group-cc-date">
                        <label>Description</label>
                        <TextArea placeholder="cet evennement est ......." type="text" class="form-control" ></TextArea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Ajouter Evennement">
                    <input type="reset" class="btn btn-primary" value="Annuler">
                </div>
            </div>
            <!--<input type="submit" class="btn btn-primary" value="Proceed Payment">-->
            </form>
        </div>
        <!--<div class="col-md-5 col-md-offset-1">
            <h3>Pay Via Paypal</h3>
            <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p>
            <a href="#" class="btn btn-primary">Checkout via Paypal</a>
        </div>-->
    </div>
    </div>
    </div>
    <div class="gap"></div>
    </div>


    <!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->




{% endblock %}


