{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Categorieevent creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}


    {{ form_end(form) }}

    <ul >
        <li>
            <input type="submit" value="Créer"  class="btn btn-success"/>
        </li>
        <li>
            <a href="{{ path('categorieevent_index') }}">afficher liste</a>

        </li>

    </ul>
{% endblock %}
